@page
@model EFCoreTeaching_RazorPages.GetCoursesModel
@{
    ViewData["Title"] = "GetCourses";
}

<h1>GetCourses</h1>
@{
    ViewData["Title"] = "GetStudents";
}
<p>
    <a asp-page="/Courses/Create">Create New Course</a>
</p>
<h3 style="color:red"> List of courses</h3>
<table class="table">
    <thead>
        <tr>
            <th> Course Id </th>
            <th> Course Name </th>
            <th>  Credits </th>
            <th>  No of enrolments </th>
        </tr>
    </thead>
    <tbody>

    @if (Model != null)
    {
        @foreach (var item in Model.Courses)
        {
        <tr>
            <td>  @item.CourseId </td>
            <td>  @item.CourseName  </td>
            <td>  @item.Credits  </td>
            <td>  @item.Enrollments.Count   </td>
            <td>
                <p>
                    @{ var routeValues = new Dictionary<string, string>();
                                            routeValues.Add("cid", item.CourseId.ToString());
                                            routeValues.Add("sid", Model.SId.ToString()); }
                    <a asp-page="/Enrollments/Create" asp-all-route-data="routeValues">Enroll this course</a>
                </p>
            </td>
            <td>
                <p>
                    <a asp-page="/Courses/Course_Enrollments" asp-route-cid="@item.CourseId">Show Enrollments</a>
                </p>
            </td>
        </tr>
        }
    }
</table>

