@page
@model EFCoreTeaching_RazorPages.Pages.Enrollments.CreateModel
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</head>
@{ ViewData["Title"] = "Create"; }
@{ if (Model.Enrollment.StudentId == 0)

   { 
        < script type = "text/javascript" >
        $(function() {
        $("#aModal").modal('show');
        })
        </ script >
   }   
}

<h1>Create</h1>

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="  ModelOnly  " class="text-danger">
            </div>
            <div class="form-group">
                <label asp-for="@Model.Enrollment.StudentId" class="control-label"></label>
                <input asp-for="@Model.Enrollment.StudentId" class="form-control" />
                <span asp-validation-for="@Model.Enrollment.StudentId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label hidden="hidden" asp-for="@Model.Enrollment.CourseId" class="control-label"></label>
                <input asp-for="@Model.Enrollment.CourseId" class="form-control" />
                <span asp-validation-for="@Model.Enrollment.CourseId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="@Model.Enrollment.Grade" class="control-label"></label>
                <input asp-for="@Model.Enrollment.Grade" class="form-control" />
                <span asp-validation-for="@Model.Enrollment.Grade" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


